#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
    font-size: 1.2rem;
}

#profile-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-text img:hover {
    transform: scale(1.15);
    cursor: pointer;
}

#profile-text img {
    transition: transform 0.2s;
}

#profile h2 {
    font-size: 43px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}