body {
  font-family: "Mina";
  background-color: #e5d9f2;
  color: #2e073f;
}

#about,
#chat,
#projects,
#exp {
  width: 60%;
  margin: 30px auto;
  background-color: #f5efff;
  padding: 30px;
  border-radius: 6px;
}

#projects h2,
#about h2,
#chat h2,
#exp h2 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 15px;
  position: relative;
}

.project,
.job {
  background: #e5d9f2;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 75%;
  padding: 25px;
}

#projects li,
.job li {
  margin-left: 25px;
}

button {
  padding: 0.4rem 0.8rem;
  border: 0.2rem solid #2e073f;
  border-radius: 0.2rem;
  background-color: #2e073f;
  color: #e5d9f2;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  background-color: #e5d9f2;
  color: #2e073f;
}