.github {
    border-width: 0.15rem;
    padding: 0.3rem 0.6rem;
    font-size: 16px;
}

.project button {
    padding-left: 0.5rem;
}

.project button:hover {
    color: #2e073f;
}

.github-inline {
    transition: filter 0.2s;
}

button:hover .github-inline {
    filter: invert(0);
}

.github-inline {
    margin-bottom: -3.5px;
    margin-right: 1px;
    filter: invert(1);
}